copy                 <A-c>
zoom_in              <A-=>
zoom_out             <A-->
prev_state           <A-o>
next_state           <A-i>
new_window           <A-n>
close_window         q
regex_search         <A-/>
add_highlight        H
overview_definition  L
move_right           h
move_left            l
screen_down          <A-d>
screen_up            <A-u>
toggle_titlebar      <f2>
toggle_statusbar     <f3>
