copy                 <A-c>
zoom_in              <A-=>
zoom_out             <A-->
prev_state           <C-o>
next_state           <C-i>
new_window           <C-S-n>
new_window           <C-n>
close_window         q
regex_search         <C-/>
add_highlight        H
overview_definition  L
move_right           h
move_left            l
screen_down          <C-d>
screen_up            <C-u>
