copy                 <C-c>
zoom_in              <C-=>
zoom_out             <C-->
prev_state           <C-o>
next_state           <C-i>
new_window           <C-n>
close_window         q
regex_search         <C-/>
add_highlight        H
overview_definition  L
move_right           h
move_left            l
screen_down          <C-d>
screen_up            <C-u>
toggle_titlebar      <f2>
toggle_statusbar     <f3>
open_last_document   <C-6>
goto_toc             <space>s
open_prev_doc        <space>t
open_document_embedded_from_current_path <space><space>
