snippet image "Image" b
#figure(
	image("figures/$1"),
	placement: ${2:auto},
	caption: [$3]
) <fig:${4:${1/^(.+?)(\.[^.]*$|$)/$1/g}}>
endsnippet

snippet figure "Figure" b
#figure(
	include "figures/$1",
	placement: ${2:auto},
	caption: [$3]
) <fig:${4:${1/^(.+?)(\.[^.]*$|$)/$1/g}}>
endsnippet

# TODO: make label lowercase
# FIXME: quotes don't disappear
snippet def "Definition" b
#definition($1)[
	$2
] <def:${3:${1/"(.*)"/$0/g}}>
endsnippet
