snippet image "Image" b
#figure(
	image("figures/$1"),
	placement: ${2:auto},
	caption: [$3]
) <fig:${4:${1/^(.+?)(\.[^.]*$|$)/$1/g}}>
endsnippet

snippet figure "Figure" b
#figure(
	include "figures/$1",
	placement: ${2:auto},
	caption: [$3]
) <fig:${4:${1/^(.+?)(\.[^.]*$|$)/$1/g}}>
endsnippet
